{% extends 'starter-page.html' %}
{% load static %}
{% block body %}
    
    
  <main class="main">

    
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'assets/img/CUKCU logo.jpeg' %}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=2DZjdLh3i20&ab_channel=Co-operativeUniversityChristianUnion" class="glightbox pulsating-play-btn"></a>
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3>CUKCU History</h3>
            <p class="fst-italic">
              The Cooperative University Christian Union was started in 1977  when the university was still a college. Over the years,
                the union has been on an upward trajectory and achieving many things including registration under the 
                Fellowship of Christian Unions <a href="https://www.focuskenya.org/" target="_blank" class="text-info"> <b>(FOCUS) </b></a>Kenya, 
                which is a body comprising of Christian Unions Countrywide.
                <br>
                <p>
              Today, The Cooperative University of Kenya Christian Union celebrates major improvements such as growth in the members in the church with over
                350 students attending sunday services. <br>
                Some Major achievements include:
          </p>
                
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Growth in the union population, attracting more students to participate in the service any many giving their lives to Christ,</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Purchase of music instruments leading to improved praise and worship experience,</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Door-to-door ministries in hostels and Gataka residences bringing students closer to God.</span></li>
            </ul>
            <p>
              With the Cooperation of our Patron, <b>Mr. Mwangeka</b> and the school administration led by the Vice Chanclor, <b>Prof. Kamau Ngamau,</b>
                The union has had tremendous improvements such as access to the school sound systems and projection 
                giving ample time and ease in service delivery and experience.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
          <h2 class="text-primary fw-bolder text-decoration-underline text-center">Statistics</h2>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center text-info w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="350" data-purecounter-duration="1" class="purecounter text-info"></span>
              <p>Students</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="13" data-purecounter-duration="1" class="purecounter text-info"></span>
              <p>Executive Committee</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="39" data-purecounter-duration="1" class="purecounter text-info"></span>
              <p>Ministerial Leaders</p>
            </div>
          </div><!-- End Stats Item -->
            
            <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter text-info"></span>
              <p>Patron</p>
            </div>
          </div><!-- End Stats Item -->
        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section">
        <h2 class="text-center text-bg-light text-info fw-bolder">Our Partners</h2>

      <div class="container">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide text-center"><img src="{% static 'assets/img/cuklogo.jpeg' %}" class="img-fluid" alt="">CUK</div>
            <div class="swiper-slide text-center"><img src="{% static 'assets/img/AGClogo.jpeg' %}" class="img-fluid" alt="">AGC Karen</div>
            <div class="swiper-slide text-center"><img src="{% static 'assets/img/CUKCU logo.jpeg' %}" class="img-fluid" alt="">CUCKU</div>
            <div class="swiper-slide text-center"><img src="{% static 'assets/img/Focuslogo.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide text-center"><img src="{% static 'assets/img/ACKHardy.jpeg' %}" class="img-fluid" alt="">ACK Hardy</div>
            <div class="swiper-slide text-center"><img src="{% static 'assets/img/praisecelebration.jpeg' %}" class="img-fluid" alt="">Praise Celebration</div>
            <div class="swiper-slide text-center"><img src="{% static 'assets/img/RGClogo.jpeg' %}" class="img-fluid" alt="">Redeemed Gospel church</div>
            <div class="swiper-slide text-center"><img src="{% static 'assets/img/UON.jpeg' %}" class="img-fluid" alt="">UoN</div>
          </div>
        </div>

      </div>

    </section><!-- /Clients Section -->
      
    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>A Look at the comments from a few of our members</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/Davy.jpeg' %}" class="testimonial-img" alt="">
                <h3>David Ng'ang'a</h3>
                <h4>2024/2025 Chairperson</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>CUKCU has been my home a way from home, 
                  I got to have a new family that cares and loves me. </span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/Secretary.jpeg' %}" class="testimonial-img" alt="">
                <h3>Fidelis Kagure</h3>
                <h4>2024/2025 Vice-chair</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>CUKCU brings a smile on my face everyday knowing that I have somewhere to 
                  belong and share my thoughts and interact with people in the love of Christ</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/Treasurer.jpeg' %}" class="testimonial-img" alt="">
                <h3>Samson Wekesa</h3>
                <h4>2023/2024 Treasurer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Having served as the CUKCU trasurer, it has helped grow in terms of integrity and 
                  honesty, having trusted me with their finances</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/Brenda Okiru.jpeg' %}" class="testimonial-img" alt="">
                <h3>Brenda Okiru</h3>
                <h4>2023/2024 Discipleship leader</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>CUKCU has helped grow my confidence in evangelizing and preaching the Gospel of Christ.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/Mwanik.jpeg' %}" class="testimonial-img" alt="">
                <h3>Emmanuel Mwanik</h3>
                <h4>2023/2024 Chairperson</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>CUKCU has helped me diversify my leadership skills and I'm forever grateful
                  for serving this great institution. More Grace</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

  </main>
    
    
{% endblock %}