{% extends 'starter-page.html' %}
{% load static %}

{% block body %}
	
  <section class="text-light">
  <div class="text-center ms-4 me-4 ps-2">
    <h1>Advocacy Ministry</h1>
    <div class="d-flex align-items-start justify-content-center mt-4">
      
      <div class="me-1">
        <img src="{% static 'assets/img/advocacy.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 100%; max-height: 100%">
      </div>
      
      <div class="text-start">
        <p class="text-black">This is the voice of the church. The Advocacy ministry is under the SWEM 
          sub-committee and it's responsible for speaking out and taking action
          on behalf of individuals or groups who are oppressed or unable to stand for themselves. 
          Some functions of this ministry include:
        </p>
        <ol class="text-black">
          <li>Raising Awareness: Educating the community and the broader public about social justice issues, 
              such as poverty, human rights, and environmental stewardship, from a Christian perspective.</li>
          <li>Supporting the Vulnerable: Offering support to those who are disadvantaged or facing injustice,
              including providing resources, guidance, and a platform for their voices to be heard.</li>
          <li>Influencing Policy: Engaging with policymakers and government officials to promote laws and 
              policies that reflect Christian values of justice, compassion, and care for the less fortunate.</li>
          <li>Encouraging Action: Mobilizing the Christian community to take tangible actions, such as 
              participating in campaigns, signing petitions, or volunteering, to address the issues
              identified by the ministry.</li>
          <li>Reflecting Christ’s Teachings: Ensuring that the actions and advocacy of the ministry align with 
              the teachings of Christ, particularly regarding love, mercy, and justice.</li>
        </ol>
      </div>
    </div>
  </div>
</section>

    
{% endblock %}