{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

    <section>
    <div class="align-items-center align-content-center ms-5 me-5 p-4">
        <h1 class="text-center fw-bolder text-decoration-underline">Bible Study</h1>
        <p>The CUKCU has several Bible study groups organized respective of areas of residence.
            Members attend Bible study sessions to the groups nearest to their area of residence. <br>

            Bible study sessions are held every Wednesday from 7:00PM to 8:30PM unless otherwised advised by
            the respective Bible study pastors of the area. <br>

            In every semester, Bible study guides are provided by <b>Fellowship of Christian Union, </b><a href="https://www.focuskenya.org/" target="_blank" class="text-info text-decoration-underline fw-bolder">FOCUS Kenya</a>  to be used in the sessions
            and each come at a fee of <b>Ksh. 70</b> for the hard copy booklet or at <b>KSh. 40</b> for the online copy. More information will be provided before the commense of the study sesions.
            </p>

    <p>Below are some of the groups availabe in the union.</p>
    </div>
   <section class="text-light text-bg-light ms-5 ">
<section class="text-light text-bg-light">
  <div class="container text-center ms-0 me-0 ps-2">
    <h1 class="mb-4">Nalis Bible Study Group</h1>
    <div class="d-flex align-items-center justify-content-center">

      <div class="me-3">
        <img src="{% static 'assets/img/Nalis BS.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 60%; max-height: 40%;">
      </div>

      <div class="text-start">
        <p class="text-black">
          The Nalis Bible Study group is located in Gataka area around SDA church near Gataka Police Station.
            With a population of over ten students that gather together to share the word. Every Wednesday and Sunday, led by the the Bible Study pastor, the group meets from 7:00PM to 8:30PM
        </p>
      </div>
    </div>
  </div>
    
</section>
<section class="text-light ms-5">
  <div class="container text-center ms-0 me-0 ps-2">
    <h1 class="mb-4">Mosque Bible Study</h1>
    <div class="d-flex align-items-center justify-content-center">

      <div class="me-3">
        <img src="{% static 'assets/img/Mosque.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 100%; max-height: 40%;">
      </div>

      <div class="text-start">
        <p class="text-black">
          The Mosque Bible study is found near Mosque on your way to Rongai just before PCEA church.
            It has a population of over 20 students with active attendance averaging 12-15 students. Organized by their leader, They meet every Wednesday for the discussions and sharing.

        </p>
      </div>
    </div>
  </div>
</section>
    <section class="text-bg-light ms-5">
  <div class="container text-center ms-0 me-0 ps-2">
    <h1 class="mb-4">Upendo Bible Study</h1>
    <div class="d-flex align-items-center justify-content-center">

      <div class="me-3">
        <img src="{% static 'assets/img/Upendo.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 100%; max-height: 40%;">
      </div>

      <div class="text-start">
        <p class="text-black">
          The Upendo Bible study is one of the largest Bible study groups located at Upendo area near
            'Mulika mwizi' tower. Due to its large size, it is divided
            into two; Upendo A and Upendo B with their respective bible study pastors
            <br>
            The centrality of this location makes it have many number of attendances and one of the most active groups.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="text-light">
  <div class="container text-center ms-0 me-0 ps-2">
    <h1 class="mb-4">Sagomo Bible Study</h1>
    <div class="d-flex align-items-center justify-content-center">

      <div class="me-3">
        <img src="{% static 'assets/img/sagomo.jpg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 60%; max-height: 40%;">
      </div>

      <div class="text-start">
        <p class="text-black">
         Sagomo Bible study group is located in the areas near Destiny Supermarket.
            It is also divide into two groups due to large number of
            people around this area i.e Sagomo A and Sagomo B with their respective Bible study pastors.
            <br>
            Since it is located near Destiny Supermarket, it is one of the largest Bible study groups
            and among the most active in attendance and participation
        </p>
      </div>
    </div>
  </div>
</section>
<section class="text-bg-light ms-5">
  <div class="container text-center ms-0 me-0 ps-2">
    <h1 class="mb-4">Kericho Bible Study</h1>
    <div class="d-flex align-items-center justify-content-center">

      <div class="me-3">
        <img src="{% static 'assets/img/Kericho.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 100%; max-height: 40%;">
      </div>

      <div class="text-start">
        <p class="text-black">
          The Kericho BS is located around SKL apartments in Gataka near AIC church.
            Population in this group is not as much as the rest of the groups due to it's far location on the exit of Gataka having few students residing here.
        </p>
      </div>
    </div>
  </div>
</section>
    </section>
    <section class="text-light ms-5">
  <div class="container text-center ms-0 me-0 ps-2">
    <h1 class="mb-4">School Group A, B & C </h1>
    <div class="d-flex align-items-center justify-content-center">

      <div class="me-3">
        <img src="{% static 'assets/img/SchoolBS.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 100%; max-height: 40%;">
      </div>

      <div class="text-start">
        <p class="text-black">
          The groups A, B & C Bible studies are the residents' Bible study groups conducted in school for
            students staying in the hostels.
            <br>
            Since there are many students in the hostels, attendance is very high leading to the division into 3 separate groups
            each led by it's own Bible study pastor
        </p>
      </div>
    </div>
  </div>
</section>
    <section class="text-bg-light ms-5">
  <div class="container text-center ms-0 me-0 ps-2">
    <h1 class="mb-4">Online Bible Study</h1>
    <div class="d-flex align-items-center justify-content-center">

      <div class="me-3">
        <img src="{% static 'assets/img/Online.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 100%; max-height: 80%;">
      </div>

      <div class="text-start">
        <p class="text-black">
          This Bible study group is attended to by students who are neither living in school or in Gataka.
            They stay far from school or those that  are held up and cannot attend the physical groups.
            <br>
            However, challenges such as network connectivity issues and bundles for livestream sessions,
            make this group not to have as many participants as the rest of the groups.
        </p>
      </div>
    </div>
  </div>
</section>



{% endblock %}




