{% extends 'starter-page.html' %}
{% load static %}

{% block body %}
    
    <section>
    <div class="align-items-center align-content-center ms-5 me-5 p-4">
        <h1 class="text-center">Bible Study</h1>
        <p>The CUKCU has several Bible study groups organized respective of areas of residence.
            Members attend Bible study sessions to the groups nearest to their area of residence. <br> 

            Bible study sessions are held every Wednesday from 7:00PM to 8:30PM unless otherwised advised by 
            the respective Bible study pastors of the area. <br>

            In every semester, Bible study guides are provided by FOCUS Kenya to be used in the sessions 
            and come at a fee of Ksh. 70 for the hard copy booklet or at KSh. 40 for the online copy. More information will be provided before the commense of the study sesions.
            </p>
        
    <p>Below are some of the groups availabe in the union.</p>
    </div>
    <div class="text-light ms-5 mt-3">
      <div>
          <div>
              <img src="{% static 'assets/img/advocacy.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 35%; max-height: 20%">
          </div>
            <h1>Nalis Bible study group</h1>
        <p class="text-black">The Nalis Bible Study group is located in Gataka area around SDA church near Gataka Police Station.</p>
     
      </div>
        <div class="mt-5">
          <div>
              <img src="{% static 'assets/img/advocacy.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 35%; max-height: 20%">
          </div>
            <h1>Nalis Bible study group</h1>
        <p class="text-black">The Nalis Bible Study group is located in Gataka area around SDA church near Gataka Police Station.</p>
     
      </div>
        <div class="mt-5">
          <div>
              <img src="{% static 'assets/img/advocacy.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 35%; max-height: 20%">
          </div>
            <h1>Nalis Bible study group</h1>
        <p class="text-black">The Nalis Bible Study group is located in Gataka area around SDA church near Gataka Police Station.</p>
     
      </div>
       <div class="mt-5">
          <div>
              <img src="{% static 'assets/img/advocacy.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 35%; max-height: 20%">
          </div>
            <h1>Nalis Bible study group</h1>
        <p class="text-black">The Nalis Bible Study group is located in Gataka area around SDA church near Gataka Police Station.</p>
     
      </div>
        <div class="mt-5">
          <div>
              <img src="{% static 'assets/img/advocacy.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 35%; max-height: 20%">
          </div>
            <h1>Nalis Bible study group</h1>
        <p class="text-black">The Nalis Bible Study group is located in Gataka area around SDA church near Gataka Police Station.</p>
     
      </div>
        <div class="mt-5">
          <div>
              <img src="{% static 'assets/img/advocacy.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 35%; max-height: 20%">
          </div>
            <h1>Nalis Bible study group</h1>
        <p class="text-black">The Nalis Bible Study group is located in Gataka area around SDA church near Gataka Police Station.</p>
     
      </div>
       <div class="mt-5">
          <div>
              <img src="{% static 'assets/img/advocacy.jpeg' %}" alt="Advocacy" class="rounded-circle img-fluid" style="max-width: 35%; max-height: 20%">
          </div>
            <h1>Nalis Bible study group</h1>
        <p class="text-black">The Nalis Bible Study group is located in Gataka area around SDA church near Gataka Police Station.</p>
     
      </div>
    </div>
    </section>
    
    
    
{% endblock %}




