{% extends 'starter-page.html' %}
{% load static %}

{% block body %}



  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <!-- <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in"> -->

      <div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="container position-relative">

          <div class="carousel-item active">
            <div class="carousel-container">
              <h2 class="text-warning fw-bolder shadow-sm">The Cooperative University of Kenya Christian Union</h2>
              <p class="text-white fw-bold"> The Cooperative University Christian Union is an interdenominational and non-denominational organization of christian students.</p>
              <a href="{% url 'about' %}" class="btn-get-started">Read More</a>
            </div>
          </div><!-- End Carousel Item -->

          <div class="carousel-item">
            <div class="carousel-container">
              <h2 class="text-decoration-underline text-warning fw-bolder">Vision</h2>
              <p class="text-white fw-bold">Christian Students Transforming The University, Church and Society.</p>
               <a href="{% url 'about' %}" class="btn-get-started">Read More</a>
            </div>
          </div><!-- End Carousel Item -->

          <div class="carousel-item">
            <div class="carousel-container">
              <h2 class="text-warning text-decoration-underline fw-bolder">Mission</h2>
              <p class="text-white fw-bold">To Develop Holistic Students Through Evangelism, Discipleship, Leadership Development and Organizational Effectiveness.</p>
              <a href="{% url 'about' %}" class="btn-get-started">Read More</a>
            </div>
          </div><!-- End Carousel Item -->

          <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
          </a>

          <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
          </a>

          <ol class="carousel-indicators"></ol>

        </div>

      </div>

    </section><!-- /Hero Section -->
  <section class="align-items-center text-light">
    <div class="container text-center">
        <h1 class="text-decoration-underline fw-bolder">Order Of Our Services</h1>
        <div class="d-flex justify-content-center mt-5">
            <div class="service-item me-5">
                <h2 class="text-danger">Sunday Service</h2>
                <p class="text-black mt-3">7:30AM-8:30AM - Intercessory session</p>
                <p class="text-black">8:30AM - 11:30AM - Main service</p>
            </div>
            
            <div class="service-item">
                <h2 class="text-danger">Friday Service</h2>
                <p class="text-black mt-3">6:30PM - 8:30PM - Friday service</p>
            </div>
        </div>
    </div>
</section>
      <section>
          <div class="text-light text-bg-light shadow p-4 ms-5 me-5 align-items-center align-content-center">
              <h2 class="text-center text-decoration-underline text-info mb-4">Want to give or Offer?</h2>

               <img src="{% static 'assets/img/Account.jpg' %}" alt="Vision" class="img-fluid text-center mx-auto d-block" style="max-width: 80%;">
             <p class="text-center text-success fw-bolder mt-5">Thank you for supporting us!</p>
          </div>
      </section>


    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative">
              <div class="icon">
                <i class="bi bi-book"></i>
              </div>
              <a href="{% url 'bibleStudy' %}" class="stretched-link">
                <h3>Bible Study</h3>
              </a>
              <p>CUKCU has organized Bible study groups for students to come together and share the word of God guided by
              Bible study guides provided by FOCUS kenya. The groups are formed according to various places of residences within Gataka and school.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative">
              <div class="icon">
                <i class="bi bi-house-heart-fill"></i>
              </div>
              <a href="{% url 'prayers' %}" class="stretched-link">
                <h3>Prayers</h3>
              </a>
              <p>For spiritual growth and personal encounter with God, CUKCU has partnerd with Redeemed Gospel church-Gataka
              where every evening from 7:00PM to 8:30Pm students gather at this church to pray.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
              <div class="icon">
                <i class="bi bi-person-arms-up"></i>
              </div>
              <a href="{% url 'pw' %}" class="stretched-link">
                <h3>Praise and Worship.</h3>
              </a>
              <p>"God is a spirit and those who worship him must worship Him in Spirit and in truth. [John 4:24]"
                  <br> Therefore, CUKCU has designated Thursday from 4pma to 6pm and Saturday from 4pm to 6pm as days to practice songs for praise and worship during the Sunday service</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item item-red position-relative">
              <div class="icon">
                <i class="bi bi-person-check-fill"></i>
              </div>
              <a href="{% url 'team' %}" class="stretched-link">
                <h3>Leadership</h3>
              </a>
              <p>For better running of the church, CUKCU provides leadership roles to eligible and elected members to carry out leadership practices in various ministries and dockets</p>
              <a href="{% url 'team' %}" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->
        </div>

      </div>

    </section><!-- /Featured Services Section -->

    <!-- About Section -->
    <section id="about" class="about section light-background">

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'assets/img/banner.PNG' %}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=V98e1VaOt0k&t=1s&ab_channel=Co-operativeUniversityChristianUnion" class="glightbox pulsating-play-btn"></a>
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3>Campus Night of Worship</h3>
            <p class="fst-italic">
              On the 9<sup>th</sup> of February, 2024, CUKCU Hostel a night of worship experirence at the Cooperative University's Room A, hosting campuses within Karen and some from within Nairobi

            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Pst. Israel Ezekia & Praise Celebration led the occation</span></li>
              <li><i class="bi bi-check2-all"></i> <span>CUKCU, led by Emmanuel Mwanik, the then CU chairperson, hosted the guests</span></li>

            </ul>
            <p>
              It was a night of Praises and worship where students from various universities gathered to celebrate Christ.<br>
                Many souls were saved and students got to have a personal encounter with Christ
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

        <section id="about" class="about section light-background">

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'assets/img/banner2.PNG' %}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=cLewZj74Sj4&ab_channel=Co-operativeUniversityChristianUnion" class="glightbox pulsating-play-btn"></a>
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3>Afternoon of Worship</h3>
            <p class="fst-italic">
             On Sunday 5<sup>th</sup> November, 2022, CUKCU had an afternoon of worship from 2:00pm till 5:00pm
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>An afternoon dedicated for praise, worship and hymns</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Experienced life changing ministerial through praises</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Repentance, Testimonies and winning souls to Christ were experienced</span></li>
            </ul>
            <p>
              The event culminated at 5:00pm with invited guests leaving at their own pleasure as students emabrked on their normal routine.             </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Activities</h2>
        <p>Below are some of the activities that the union engages in on a normal routine and calendar</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <img src="{% static 'assets/img/Worship team.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
            <h3>Praise and worship team</h3>
            <p class="fst-italic">
              Some praise and wroship team in one of their many attires in active session during a previous night of worship Kesha.
            </p>
            <ul>
              <li><i class="bi bi-check"></i><span>The team meets twice a week for preparation and practice</span></li>
              <li><i class="bi bi-check"></i> <span>For stage management, a few individuals represent the whole team on stage as the others wait for their turn </span></li>
              <li><i class="bi bi-check"></i> <span>Members of the team acquire attires according to their liking</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'assets/img/during childrenhome visit.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
            <h3>Elderly Home Visits</h3>
            <p class="fst-italic">
             Some representatives of the Union pose for a photo during a recent visit to an elderly home home visit
            </p>
            <p>
              The got to interact and share with the elderly personnel as well as minister to them giving them hope for a better living.<br>
                They also took with them some donations such as cash contributions from CUKCU members, Foodstuffs, clothings and other amenities to support the organization
            </p>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
            <img src="{% static 'assets/img/Community service.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up">
            <h3>Community Support</h3>
            <p>Some members participating in cleaning in a recent community support event</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>CUKCU identifies area within the community</span></li>
              <li><i class="bi bi-check"></i><span> Make arrangements with owners and leaders</span></li>
              <li><i class="bi bi-check"></i> <span>they visit the area to help in charitable activities such as cleaning, washing, cooking etc.</span>.</li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out">
            <img src="{% static 'assets/img/Drommist using new drumset.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
            <h3>Instruments</h3>
            <p class="fst-italic">
                <b><u>Vincent Tumaini</u></b>, our drummist, playing the recently acquired instruments during a church service.
            </p>
            <p>
             Led by <b>Emmanuel Mwanik</b>, former Chairperson, CUKCU mobilized for the purchase of new instruments to improve the music quality during church services which yielded success as various instruments such as speakers, microphones, drums, were purchased now services are being conducted seamlessly.
            </p>
          </div>
        </div><!-- Features Item -->

      </div>

    </section><!-- /Features Section -->
  <section class="bg-light"> <!-- Map -->

      <div  class="align-content-center ms-4 me-4 pe-5 ps-5 text-dark mt-1 mb-2" >
          <h2 class="text-center text-decoration-underline fw-bolder mt-1 mb-2">Join US</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.683523350381!2d36.7292318!3d-1.3665654999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f051fc223e6c9%3A0x46afe71d2e294614!2sCooperative%20University%20of%20Kenya%2C%20Karen!5e0!3m2!1sen!2ske!4v1738580493080!5m2!1sen!2ske" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

  </section>

  </main>

{% endblock %}
