{% extends 'starter-page.html' %}
{% load static %}

{% block body %}
<section class="container mt-5 text-center">
    <h1 class="fw-bolder text-decoration-underline">Leaders Board</h1>
    <p class="mt-4 lead">
        The Leaders Board highlights the dedicated individuals who have served in various leadership roles, their contributions, and the impact they made during their tenure.
    </p>
</section>

<section class="container mt-5 text-center bg-light p-4 rounded shadow">
    <h2 class="mb-4">Past Leaders</h2>
    <p>Below are the previous Chairperns who served the union in their capacity and some of the major achievements
    in their spiritual year</p>
    <div class="row">
        
         <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{% static 'assets/img/Davy.jpeg' %}" class="img-fluid" alt="" height="50%">
                <div class="card-body">
                    <p><strong>Name: </strong>David Ng'ang'a</p>
                    <p><strong>Period: </strong>2024/2025</p>
                    <p><strong>Achievement: </strong>___</p>
                    <p><strong>Recommendation: </strong>___</p>
                </div>
            </div>
        </div>
       
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{% static 'assets/img/Mwanik1.jpeg' %}" class="img-fluid" alt="" height="30%">
                <div class="card-body">
                    <p><strong>Name: </strong>Emmanuel Mwanik</p>
                    <p><strong>Period: </strong>2023/2024</p>
                    <p><strong>Achievement: </strong>Purchase of Music Instruments</p>
                    <p><strong>Recommendation: </strong>Conduct More Missions for growth of church population</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{% static 'assets/img/Adera.jpeg' %}" class="img-fluid" alt="">
                <div class="card-body">
                    <p><strong>Name: </strong>Sheila Adera</p>
                    <p><strong>Period: </strong>2022/2024</p>
                    <p><strong>Achievement: </strong>increased church population</p>
                    <p><strong>Recommendation: </strong>Purchase new Instruments</p>
                </div>
            </div>
        </div>
        
        
       
        
    </div>
</section>

<section class="container mt-5 text-center">
    <h2 class="mb-4">Leadership Legacy</h2>
    <p class="lead">Each leader has played a vital role in the spiritual and organizational growth of the Christian Union. We honor their service and commitment to the ministry.</p>
</section>

{% endblock %}
