<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>CUKCU</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
    {% load static %}

  <!-- Favicons -->
  <link href="{% static 'assets/img/CUKCU logo.jpeg' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css" rel="stylesheet' %}">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

</head>

<body class="starter-page-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">

        <h1 class="sitename">CUK Christian Union</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="team.html">Team</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Ministries</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Mercy Ministry</a></li>
              <li class="dropdown"><a href="#"><span>Dockets</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Prayer Docket</a></li>
                  <li><a href="#">Worship Docket</a></li>
                  <li><a href="#">Bible Study Docket</a></li>
                  <li><a href="#">Discipleship Docket</a></li>
                  <li><a href="#">SWEM Docket</a></li>
                    <li><a href="#">Discipleship</a></li>
                    <li><a href="#">CREAM Docket</a></li>
                    <li><a href="#">ICT Docket</a></li>

                </ul>
              </li>
              <li><a href="#">Advocacy Ministry</a></li>
              <li><a href="#">Children Ministry</a></li>
              <li><a href="#">Ushering</a></li>
                <li><a href="#">Gentlemen</a></li>
                <li><a href="#">Ladies Ministry</a></li>
                <li><a href="#">Library Ministry</a></li>
                <li><a href="#">Choir</a></li>
                <li><a href="#">P & W</a></li>
                <li><a href="#">Hospitality and Catering</a></li>
                <li><a href="#">Drama</a></li>
                <li><a href="#">Decor</a></li>
                <li><a href="#">Primary and High school</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">

    </div><!-- End Page Title -->

    <!-- Starter Section -->
    <section id="starter-section" class="starter-section section">

       {% block body %}

      {% endblock %}


    </section><!-- /Starter Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h4>Follow us as we follow Christ</h4>
            <p>Let us be in touch, share your email address and we will reach out to you.</p>
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email" placeholder="email"><input type="submit" value="Send"></div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your email has been sent, you will receive a followed response. Thank you</div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="d-flex align-items-center">
            <span class="sitename">CUKCU</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Ushirika Road, Karen</p>
            <p>Nairobi</p>
            <p class="mt-3 fs-6"><strong><i class="bi bi-telephone-outbound text-success"></i> <a href="tel:+254718370628 " class="fw-lighter fs-6">+254718370628</a> </strong> <span></span></p>
            <p class="fs-6"><strong><i class="bi bi-envelope-at text-warning "> <a href="mailto:cooperativecu@gmail.com" class="fw-lighter fs-6">cooperativecu@gmail.com</a> </i></strong> <span></span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Team</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Exec</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Sunday Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Friday Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Bible Studies</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Prayers</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Follow Us</h4>
          <p>Follow us on our Social media pages</p>
          <div class="social-links d-flex">
            <a href="https://x.com/CoopUniCu?mx=2 " target="_blank"><i class="bi bi-twitter-x text-black"></i></a>
            <a href="https://www.facebook.com/CoopUniCU"target="_blank"><i class="bi bi-facebook text-primary"></i></a>
            <a href="https://www.tiktok.com/@cooperativeuniversitycu"target="_blank"><i class="bi bi-tiktok text-info"></i></a>
              <a href="https://www.youtube.com/@co-operativeuniversitychri7583"target="_blank"><i class="bi bi-youtube text-danger"></i></a>
              <a href="https://wa.me/+254718370628"target="_blank"><i class="bi bi-whatsapp text-success"></i></a>

          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>2025 Copyright</span> <strong class="px-1 sitename">CUKCU</strong> <span>All Rights Reserved</span></p>
      <div class="credits">

        Designed by <a href="https://github.com/Cptzeph23/CUKCU"target="_blank">CUKCU</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>