{% extends 'starter-page.html' %}
{% load static %}
{% block body %}

<main class="main">

  <!-- Executive Team -->
  <section id="executive" class="team section">
    <div class="container">
      <h1 class="text-center"><b> <u>Executive Committee 2024/2025</u> </b></h1>
      <div class="row gy-5">
        {% for member in executive_members %}
          <div class="col-lg-4 col-md-6 member">
            <div class="member-img">
              <img src="{{ member.image.url }}" class="img-fluid" alt="{{ member.name }}">
            </div>
            <div class="member-info text-center">
              <h4>{{ member.name }}</h4>
              <span>{{ member.position }}</span>
              <p>{{ member.bio }}</p>
            </div>
          </div>
        {% empty %}
          <p>No executive members yet.</p>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Ministerial Team -->
  <section id="ministerial" class="team section">
    <div class="container">
      <h1 class="text-center"><b><u>Ministerial Leaders 2024/2025</u></b></h1>
      <div class="row gy-5">
        {% for member in ministerial_members %}
          <div class="col-lg-4 col-md-6 member">
            <div class="member-img">
              <img src="{{ member.image.url }}" class="img-fluid" alt="{{ member.name }}">
            </div>
            <div class="member-info text-center">
              <h4>{{ member.name }}</h4>
              <span>{{ member.position }}</span>
              <p>{{ member.bio }}</p>
            </div>
          </div>
        {% empty %}
          <p>No ministerial members yet.</p>
        {% endfor %}
      </div>
    </div>
  </section>

</main>

{% endblock %}
